/source_code/results/*
*.pyc
source_code/__pycache__/
source_code/logs/
source_code/outputs/
source_code/multirun/
*cpython*
*.log
.venv*
results/config/*
source_code/instances/nasbench/nasbench_full.tfrecord
outputs/*/*/.hydra/*
results/nevergrad/*