/source_code/results/*
*.pyc
source_code/__pycache__/
source_code/logs/
source_code/outputs/
source_code/multirun/
*cpython*
*.log
.venv*
results/config/*
!results/config/krbf__advglobalrankweighted__M7__L13__eps0p08__g0p015__ds0p03__dm0p01/
!results/config/krbf__advglobalrankweighted__M7__L13__eps0p08__g0p015__ds0p03__dm0p01/**
!results/config/krbf__advglobalrankweighted__M20__L10__eps0p08__g0p01__ds0p03__dm0p01__la5__ri15/**
!results/config/krbf__advglobalrankweighted__M20__L10__eps0p08__g0p01__ds0p03__dm0p01__la5__ri15/
!results/config/krbf__advglobalrankweighted__M50__L10__eps0p08__g0p01__ds0p03__dm0p01__la5__ri15
!results/config/krbf__advglobalrankweighted__M50__L10__eps0p08__g0p01__ds0p03__dm0p01__la5__ri15/**
!results/config/krbf__advglobalrankweighted__M7__L13__eps0p1__g0p015__ds0p03__dm0p1__adaptL0p25__range0p3/
source_code/instances/nasbench/nasbench_full.tfrecord
outputs/*/*/.hydra/*
results/nevergrad/**/*.txt
/BB-DOB/
/nasbench/
